<!DOCTYPE html>
<title>PLACEHOLDER</title>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/generalMenuBar.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="{{ url_for('static',filename='1resources/mobileMenu.js') }}"></script> <!--todo: use css-->

<!--Menu bar-->
{% include "generalNavBar.html" %}

<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <h1>welcome to openclassroom</h1>
    <h2>Pinned</h2>
    <p ><div class="classbutton"><h1 class="darkH1">CLASSNAME</h1><h2 class="darkH2">Joe Mama</h2><p class="darkp">jfi</p></p></div></p>
    <div class="classbuttonDark"><h1>CLASSNAME</h1><h2>Joe Mama</h2><p>jfi</p></p></div>
    <h2>you have X upcoming assignments:</h2>
    <p>THE_ASSIGNMENT_PLACEHOLDER__USE_REPLACE_FOR_THIS</p>
  </div>
</div>
