<!DOCTYPE html>
<title>PLACEHOLDER</title>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/generalMenuBar.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="{{ url_for('static',filename='1resources/mobileMenu.js') }}"></script> <!--todo: use css-->

<!--Menu bar-->
{% include "generalNavBar.html" %}

<!--Content for the page-->
{% if mode == "light" %}
<div class="fullPageLight">
<style>body { background-color:white;}</style>
{% elif mode == "dark" %}
<div class="fullPage">
{% else %}
Settings corrupt!
{% endif %}
  <div class="mainText">
    <h1>welcome to openclassroom</h1>
    <h2><abbr title="You can have 3 pinned classes at a time.">Pinned</abbr></h2>
    {% if mode == "light" %}
    {% set class = "classbutton" %}
    {% set pclass = "darkp" %}
    {% elif mode == "dark" %}
    {% set class = "classbuttonDark" %}
    {% set pclass = "" %}
    {% else %}
        <p>Your settings are corrupt. Contact your administrator.</p>
    {% endif %}
    {% for i in pinned %}
    <a href="{{ i['id'] }}"><div class="{{ class }}"><form action="DismissPin/{{ i['id'] }}" target="_blank"><button class="dismissPin">-</button></form><h1>{{ i['name'] }}</h1><h2>{{ i['teach'] }}</h2><p class="{{ pclass }}">{{ i['desc'] }}</div></a>
    {% else %}
    <p>You have no pinned classes.</p>
    {%endfor%}
    <div style="clear:both;"></div>
    <h2>upcoming assignments:</h2>
    <p><ul>
            {% for i in upcomingDueList %}
            <li><a href="/goToAssignment/{{ upcomingDue[i] }}">{{ idToName[upcomingDue[i]] }}</a></li>
            {%endfor%}
        </ul></p>
  </div>
</div>
