<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/generalMenuBar.css') }}">
<div id="generalNavBar">
  <a href="../index.html" class="indexButton"><i class="fa fa-bars"></i></a>
  <a href="index.html" class="main">dashboard</a>
  &emsp;
  <a href="classes.html" class="main">classes</a>
  <a href="javascript:void(0);" class="icon main" onclick="myFunction()"><!--<i class="fa fa-bars"></i>--> Menu</a>
  <div class="main" style="float: right;"><a href="notifs">Notifications</a></div><!--NEEDED to balance out the menubar so that there is an icon on both sides to center the middle text. IT IS INVISIBLE, needs to be in the div element to hide in mobile mode-->
</div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/generalMenuBar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/main.css') }}">

