<!DOCTYPE html>
<title>PLACEHOLDER</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/generalMenuBar.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="{{ url_for('static',filename='1resources/mobileMenu.js') }}"></script>

<!--Menu bar-->
{% include "generalNavBar.html" %}

<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
      <h1>You have {{ lenMsg }} new messages</h1>
      <p>{% if lenMsg == 0 %} No notifications! Isn't it nice to be in the know?
          {% else %} <ul>{% for i in msg %} <li><a href="{{ i['relativeurl'] }}">{{ i['name'] }} (in {{ i['class']['name'] }})</a></li>
              {%endfor%}</ul>{%endif%}</p>
  </div>
</div>
