<!DOCTYPE html>
<title>PLACEHOLDER</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='1resources/generalMenuBar.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="{{ url_for('static',filename='1resources/mobileMenu.js') }}"></script>

<!--Menu bar-->
{% include "generalNavBar.html" %}

<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <h1>You have X new messages</h1>
  </div>
</div>
