<!DOCTYPE html>
<title>PLACEHOLDER</title>
<link rel="stylesheet" type="text/css" href="1resources/main.css">
<link rel="stylesheet" type="text/css" href="1resources/generalMenuBar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--MenuIcon-->
<link rel="shortcut icon" href="../1mainResources/trmicon3circle.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Helps with mobile compatibility-->
<script src="1resources/mobileMenu.js"></script>


<!--Menu bar
<div id="generalNavBar" class="menuBar"><script src="generalNavBar.js"></script><noscript style="color: #FFFFFF">you seem to have javascript disabled, so the here are the links: <a href="generalNavBar.html">here</a></noscript></div>
	-->
	<div id="generalNavBar" class="menuBar"><p class="Title">KidsNews</p></div>
<!--Content for the page-->
<div class="fullPage">
  <div class="mainText">
    <p class="Title">APRIL BREAK CANCELLED</p>
    <p class="bodyText">Doug Ford has announced that APRIL BREAK will be cancelled!</p>
    <p class="miniTitle">"Kids don't need april break - online school is very easy and straightforward"</p>
    <p class="bodyText">Doug Ford says that kids are "already coddled enough" and that they "need to wake up to the real world, in which there aren't as many breaks". Kids all over the province are dissapointed and mad. So are parents who need a break from work.<br>"We need these breaks! I need time to cool down. I'm very stressed," says a frustrated parent. "From science fair to normal assignments, school has been really difficult for us."<br>Doug Ford says that this decision is final, and he will not change it. "Easter is enough, if you don't think that then don't do anything with your life."</p>


      <!--<ul class="linkList">
        <li><a href="" class="linkList" target="_blank"></a></li>
      </ul>       HIDDEN SO THAT I DONT LOSE THIS CODE, USEFUL TO CREATE LINK LISTS-->
  </div>
</div>
